<!DOCTYPE html>
<html>
<head>
  <style>
    .email-container {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }
    .email-box {
      background: white;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    .titulo {
      color: #2c3e50;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="email-box">
      <h2 class="titulo">Olá, {{ email }}!</h2>
      <p>Esta é a sua nova senha de acesso: <b>{{ password }}</b></p>
      <p>Clique no link abaixo para alterar sua senha: </p>
      <a href="https://licitadoc-sable.vercel.app/change-password">Alterar minha senha</a>
    </div>
  </div>
</body>
</html>
